%h3.subheader Дополнительная информация :
= form.fields_for :profile, :html => {:multipart => true, class: "custom"} do |profile_f|
  .row.collapse
    .small-4.large-4.columns
      = profile_f.check_box :show_email
      = profile_f.label :show_email, "Показывать мой Email"
    .small-8.large-8.columns
      = profile_f.select(:country, options_for_select([['Выберите страну',''],['Украина','UA'],['Россия','RU'],['Белоруссия','BE'],['Молдова','ML'],['Польша','PL'],['Казахстан','KZ']]), {}, {class: "small secondary dropdown"})
  .row.collapse
    .small-3.large-3.columns
      = profile_f.label :birthday, "Дата вашего рождения :"
      = profile_f.date_select(:birthday, start_year: Time.now.year - 50, end_year: Time.now.year - 5, class: "small secondary radius button dropdown", prompt: true)
  .row.collapse
    .small-4.large-3.columns
      %span.prefix= profile_f.label :about
    .small-8.large-9.columns
      = profile_f.text_area :about
  .row.collapse
    .small-4.large-3.columns
      %span.prefix= profile_f.label :signature
    .small-8.large-9.columns
      = profile_f.text_area :signature
  .row.collapse
    .small-4.large-3.columns
      %span.prefix= profile_f.label :contacts_phone
    .small-8.large-9.columns
      = profile_f.text_field :contacts_phone
  .row.collapse
    .small-4.large-3.columns
      %span.prefix= profile_f.label :contacts_skype
    .small-8.large-9.columns
      = profile_f.text_field :contacts_skype
  .row.collapse
    .small-4.large-3.columns
      %span.prefix= profile_f.label :contacts_other
    .small-8.large-9.columns
      = profile_f.text_field :contacts_other
  .row.collapse
    .small-4.large-3.columns
      %span.prefix= profile_f.label :contacts_url
    .small-8.large-9.columns
      = profile_f.text_field :contacts_url
  .row.collapse
    .small-4.large-3.columns
      %span.prefix= profile_f.label :time_zone
    .small-8.large-9.columns
      = profile_f.time_zone_select :time_zone
  .row.collapse
    .large-2
      Получать рассылку?
      %br
      .switch.medium.round
        = profile_f.radio_button(:dispatch, true, id: 'true')
        = profile_f.label(:dispatch_yes, "Да")
        = profile_f.radio_button(:dispatch, false)
        = profile_f.label(:dispatch_no, "Нет")
        %span
    .large-4
      Ваш пол :
      %br
      .switch.medium.round
        = profile_f.radio_button(:gender, 0, id: 'true')
        = profile_f.label :gender_man, "Мужской"
        = profile_f.radio_button(:gender, 1)
        = profile_f.label :gender_woman, "Женский"
        %span
  .row.collapse
    = image_tag(@user.profile.avatar_url) if @user.profile.avatar?
    .small-4.large-3.columns
      %span.prefix= profile_f.label :avatar
    .small-8.large-9.columns
      = profile_f.file_field :avatar, class: "secondary button"