- provide(:title, "Корзина пользователя #{@cart.user.name if @cart.user.presence}")
%h5.subheader= "Ваша корзина (позиций: #{@cart.orders.size})"
.large-12.small-12
  %br
  - unless @cart.orders.empty?
    %table
      %thead
        %tr
          %th Товар :
          %th Цена(за ед.) :
          %th Количество :
          %th Цена к оплате :
          %th Меню :
      %tbody
        - @cart.orders.each do |order|
          %tr
            %td= link_to order.entity.name, category_entity_path(order.entity.category, order.entity)
            %td
              = order.entity.price
              = order.entity.currency.abbreviation
            %td= order.quantity
            %td
              = order.total_price
              = order.entity.currency.abbreviation
            %td= link_to "удалить", order, method: :delete, confirm: "Удалить позицию #{order.entity.name}"
    .total
      %label
        %b Всего к оплате: #{@cart.total_price} грн.
      %br
    = button_to 'Удалить корзину', @cart, method: :delete, confirm: 'Are you sure?', class: "button alert round"
  - else
    %p.empty-cart Корзина покупок пуста, закажите товары для наполнения корзины
    = link_to "Перейти в каталог", categories_path