.section-container.vertical-nav{ data: { :section => "vertical-nav", :options => "one_up: false;"}}
  %section
    %p.title{ data: {:section_title => ''}}= link_to "Пользователи", backend_users_path
    .content{ data: {:section_content => '' }}
      %ul.side-nav
        %li= link_to "Список пользователей", backend_users_path
        %li= link_to "Новый пользователь", new_user_registration_path
        %li.divider
  %section
    %p.title{ data: {:section_title => ''}}= link_to "Категории товаров", backend_categories_path
    .content{ data: {:section_content => '' }}
      %ul.side-nav
        %li= link_to "Список категорий", backend_categories_path
        %li= link_to "Создание новой категории", new_backend_category_path
  %section
    %p.title{ data: {:section_title => ''}}= link_to "Аттрибуты товаров", backend_attributes_path
    .content{ data: {:section_content => '' }}
      %ul.side-nav
        %li= link_to "Список аттрибутов", backend_attributes_path
        %li= link_to "Создание нового аттрибута", new_backend_attribute_path
        %li.divider
        %li= link_to "Перечень единиц измерений аттрибутов", backend_units_path
        %li= link_to "Создание единицы измерения аттрибута", new_backend_unit_path
  %section
    %p.title{ data: {:section_title => ''}}= link_to "Производители", backend_manufacturers_path
    .content{ data: {:section_content => '' }}
      %ul.side-nav
        %li= link_to "Производители", backend_manufacturers_path
        %li= link_to "Добавить нового производителя", new_backend_manufacturer_path
  %section
    %p.title{ data: {:section_title => ''}}= link_to "Товары", backend_entities_path
    .content{ data: {:section_content => '' }}
      %ul.side-nav
        %li= link_to "Список товаров", backend_entities_path
        %li= link_to "Новый товар", select_backend_entities_path
  %section
    %p.title{ data: {:section_title => ''}}= link_to "Технологии", backend_technologies_path
    .content{ data: {:section_content => '' }}
      %ul.side-nav
        %li= link_to "Список технологий", backend_technologies_path
        %li= link_to "Добавить новую технологию", new_backend_technology_path
  %section
    %p.title{ data: {:section_title => ''}}= link_to "Параметры цен", backend_currencies_path
    .content{ data: {:section_content => '' }}
      %ul.side-nav
        %li= link_to "Параметры валют", backend_currencies_path
        %li= link_to "Изменить курс", '#'