- provide(:title, "Создание категории товаров")
.small-10.large-12
  .label= @category.name
  %h3.subheader Добавление нового товара :
  %hr
  = render 'form', locals: { button_label: 'Добавить товар' }
  .sub-nav
    %dt Дополнительно :
    %dd.active= link_to "Назад", :back
    %dd= link_to "К списку категорий", backend_categories_path
    %dd= link_to "Создать аттрибут", new_backend_attribute_path
    %dd= link_to "К перечню аттрибутов", backend_attributes_path