- provide(:title, "Выбор категории товаров")
.small-10.large-12
  %h3.subheader Выбрать категорию товаров :
  = render 'select_form'
  .sub-nav
    %dt Дополнительно :
    %dd.active= link_to "Назад", :back
    %dd= link_to "К списку категорий", backend_categories_path
    %dd= link_to "Создать аттрибут", new_backend_attribute_path
    %dd= link_to "К перечню аттрибутов", backend_attributes_path