%ul.small-block-grid-2.large-block-grid-3
  - collection.each do |entity|
    %li
      %ul.pricing-table
        %span.has-tip{data: {tooltip: ""}, title: entity.characteristics}
          = link_to pic(entity), category_entity_path(@presenter.current_category, entity), class: "th radius"
        %li.bullet-item
          %b= link_to entity.name, category_entity_path(@presenter.current_category, entity)
        %li.bullet-item
          - unless entity.try(:technology_ids).empty?
            - entity.technologies.each do |technology|
              %span.tip-bottom{data: {tooltip: ""}, title: technology.description}
                = image_tag technology.label_url
            %br
          %br
          = link_to entity.manufacturer_name, category_manufacturer_path(@presenter.current_category, entity.manufacturer)
        %li.bullet-item= trim entity.characteristics
        %li.price
          = entity.price
          = entity.currency_abbreviation
        %li.cta-button= link_to "Подробнее", category_entity_path(@presenter.current_category, entity), class: "button radius"