%ul.small-block-grid-2.large-block-grid-3
  - entity_category_collection.each do |entity|
    %li
      %ul.pricing-table
        %li.title= link_to entity.name, category_entity_path(@category, entity)
        /%li.description= entity.description
        %li.bullet-item= entity.characteristics
        %li.bullet-item
          = image_tag entity.manufacturer.image_url, height: "10px" if entity.manufacturer.image?
          %br
          = link_to entity.manufacturer_name, category_manufacturer_path(@category, entity.manufacturer)
        %li.bullet-item
          - unless entity.try(:technology_ids).empty?
            - entity.technologies.each do |technology|
              = image_tag technology.label_url
        %li.price $99.99
        %li.cta-button= link_to "Подробнее", category_entity_path(@category, entity), class: "button radius"