- provide(:title, "Просмотр категории #{@category.name}")
.row.collapse
  .large-12.small-12
    %h4.subheader= link_to @category.parent.name, category_path(@category.parent) if @category.try(:parent)
    %h4.subheader= @category.name
    - if @category.try(:parent)
      %span.subcategory= "Показанно товаров: #{@category.entities.size}"
      %hr
      %label= link_to "#{@category.name} -> Все производители ", category_manufacturers_path(@category)
      %ul#drop.f-dropdown.content.open{ data: { dropdown_content: '' } }
        %li= link_to "Новинки", category_path(@category) + '/newest'
        %li= link_to "От дешёвых к дорогим", category_path(@category) + '/cheap'
        %li= link_to "От дорогих к дешёвым", category_path(@category) + '/hight'
        %li= link_to "Популярные", category_path(@category) + '/popular'
      = link_to "Сортировать", '#', class: "small secondary radius button dropdown", data: { dropdown: 'drop' }
      - unless @category.entities.empty?
        = render partial: 'entity_prewiew', locals: { entity_category_collection: @category.entities }
      - else
        %span.alert В данной категории товары пока недоступны!
    - else
      %span= "Содержит подкатегорий: #{@category.subcategories.size}"
      %hr
      - @category.subcategories.each do |subcat|
        = link_to "#{subcat.name} (#{subcat.entities.size})", category_path(subcat)
        %br