.reveal-modal.medium#myModal
  - if current_cart?
    - cart = get_current_cart
    %h2.subheader Корзина заказов(позиций: #{cart.orders.size})
    %p.lead
      - if cart.try(:user)
        = "Здраствуйте, #{cart.user.name.capitalize}, Вы заказали следующие товарные позиции :"
      - else
        Ваш заказ содержит следующие товарные позиции :
      %br
      - unless cart.orders.empty?
        %table
          %thead
            %tr
              %th Товар :
              %th Цена(за ед.) :
              %th Количество :
              %th Цена к оплате :
              %th Меню :
          %tbody
            - cart.orders.each do |order|
              %tr
                %td= link_to order.entity.name, category_entity_path(order.entity.category, order.entity)
                %td
                  = order.entity.price
                  = order.entity.currency.abbreviation
                %td= order.quantity
                %td
                  = order.total_price
                  = order.entity.currency.abbreviation
                %td= link_to "удалить", order, method: :delete, confirm: "Удалить позицию #{order.entity.name} ?"
      - else
        .no-item.subheader В вашей корзине пока нет заказанных товаров
      .total
        %label
          %b Всего к оплате: #{cart.total_price} грн.
        %br
      = button_to 'Удалить корзину', cart, method: :delete, confirm: 'Are you sure?', class: "button alert round"
  - else
    Ваша корзина пуста, сперва закажите товар
  %a.close-reveal-modal &#215;