%nav.top-bar
  %ul.title-area
    %li.name
      %h1= link_to "Wave", root_path
    %li.toggle-topbar.menu-icon
      = link_to 'Меню', '#'
  %section.top-bar-section
    %ul.left
      %li.has-dropdown.not-click
        = link_to 'Каталог', '#'
        %ul.dropdown
          %li
            %label= link_to "Категории товаров :", '#'
          %li.divider
          - getParentCategories.each do |parent|
            %li.has-dropdown
              = link_to parent.name, "#"
              - unless parent.subcategories.empty?
                %ul.dropdown
                  %li
                    %label= link_to "Подкатегории :", '#'
                  %li.divider
                  - parent.subcategories.each do |sub_c|
                    %li= link_to sub_c.name, category_path(sub_c)
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.has-dropdown.not-click
          = link_to "Здраствуйте, #{current_user.name}", profile_path(current_user)
          %ul.dropdown
            %li
              %label Меню администратора
            %li= link_to "Перейти в админ панель", backend_users_path if current_user.role? :admin
            %li.divider
            %li
              %label Меню профиль
            %li= link_to "Профиль", profile_path(current_user)
            %li= link_to "Редактировать профиль", edit_user_registration_path(current_user)
            %li.divider
            %li
              %label Выход из аккаунта
            %li= link_to "Выйти", destroy_user_session_path
            %li.divider
      -else
        %li= link_to "Регистрация", new_user_registration_path
        %li.divider
        %li= link_to "Войти", new_user_session_path
    %ul.right
      %li
        %a.reveal-link{href: '#', data: {reveal_id: "myModal"}} Моя корзина