- provide(:title, "Производители категории '#{@presenter.current_category.name}'")
%h4.subheader= "Найденно производителей: #{@presenter.category_manufacturers.size}, всего товаров: #{@presenter.quantity_products} "
%hr
- @presenter.category_manufacturers.each do |manufacturer|
	= image_tag manufacturer.image_url if manufacturer.image?
	= link_to "#{manufacturer.name} (#{manufacturer.entities.size})", category_manufacturer_path(@presenter.current_category, manufacturer)
	%br