!!!
%html
  /[if lt IE 7]   %html.no-js lt-ie9 lt-ie8 lt-ie7
  /[if IE 7]      %html.no-js lt-ie9 lt-ie8
  /[if IE 8]      %html.no-js lt-ie9
  /[if gt IE 8]   %html.no-js
  %head
    %meta{ charset: Rails.application.config.encoding }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= set_title(yield :title)

    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

  %body{id: params[:controller] << '_controller'}
    %section#wrap
      = render 'common/header'
      = render 'common/notice'
      .row.collapse
        .small-12.large-12.columns
          = yield

      = javascript_include_tag "application"

    = render "common/footer"
    / development params helper
    = debug(params) if Rails.env.development?
    / popup widgets
    = render "common/cart"
    = render "common/signin_widget"
    / WISIWIG editor
    = javascript_include_tag "tinymce/tinymce.min"